.blog-page-container {
  display: flex;
  gap: 20px;
  position: relative;
}

.main-content {
  flex: 2; 
}

.sidebar {
  flex: 1; 
}


@media (max-width: 768px) {
  .blog-page-container {
    flex-direction: column; 
  }

  .sidebar {
    margin-top: 20px;
  }
}
